In [1]:
import pandas as pd

In [2]:
import scipy

In [3]:
from scipy import stats

In [4]:
ratio = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/BuyerRatio.csv")

In [5]:
ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
from scipy.stats import chi2_contingency

In [11]:
buyer_ratio = ratio.iloc[0:2,1:5]

In [12]:
buyer_ratio

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [13]:
chi2,p,dof,tb1 = chi2_contingency(buyer_ratio)

In [14]:
chi2

1.595945538661058

In [15]:
p

0.6603094907091882

In [16]:
dof

3

In [17]:
tb1

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])