In [1]:
import pandas as pd

In [2]:
import scipy

In [3]:
from scipy import stats

In [14]:
from scipy.stats import chi2_contingency

In [87]:
import numpy as np

In [62]:
from statsmodels.stats.proportion import proportions_ztest

In [15]:
customer = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/CustomerOrderform.csv")

In [37]:
customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [69]:
tab1 = customer.Phillippines.value_counts()

In [70]:
tab1

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [71]:
tab2 = customer.Indonesia.value_counts()

In [72]:
tab2

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [73]:
tab3 = customer.Malta.value_counts()

In [74]:
tab3

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [75]:
tab4 = customer.India.value_counts()

In [76]:
tab4

Error Free    280
Defective      20
Name: India, dtype: int64

In [114]:
table = [[267, 33], [271,29],[269,31],[280,20]]

In [115]:
table

[[267, 33], [271, 29], [269, 31], [280, 20]]

In [117]:
Chisquares_results=scipy.stats.chi2_contingency(table)

In [119]:
Chi_square=[['','Test Statistic','p-value'],['Sample Data',Chisquares_results[0],Chisquares_results[1]]]

In [120]:
Chi_square

[['', 'Test Statistic', 'p-value'],
 ['Sample Data', 3.8589606858203545, 0.2771020991233144]]