In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
two_prop_test = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/Fantaloons.csv")

In [5]:
two_prop_test

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
420      NaN     NaN
421      NaN     NaN
422      NaN     NaN
423      NaN     NaN
424      NaN     NaN

[425 rows x 2 columns]

In [9]:
fanta = two_prop_test.iloc[0:400,0:2]

In [10]:
fanta

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [11]:
from statsmodels.stats.proportion import proportions_ztest

In [14]:
tab1 = fanta.Weekdays.value_counts()

In [15]:
tab1

Female    287
Male      113
Name: Weekdays, dtype: int64

In [16]:
tab2 = fanta.Weekend.value_counts()

In [17]:
tab2

Female    233
Male      167
Name: Weekend, dtype: int64

In [18]:
count = np.array([113,167])

In [19]:
nobs = np.array([400,400])

In [21]:
stats,pval = proportions_ztest(count, nobs,alternative='two-sided')

In [22]:
pval

6.26114287794602e-05

In [23]:
stats

-4.002746309969947

In [24]:
stats,pval = proportions_ztest(count, nobs,alternative='larger')

In [25]:
pval

0.9999686942856103