In [3]:
from statsmodels.formula.api import ols

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
import scipy

In [7]:
from scipy import stats

In [42]:
import statsmodels.api as sm

In [8]:
labtat = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/LabTAT.csv")

In [9]:
labtat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
136           NaN           NaN           NaN           NaN
137           NaN           NaN           NaN           NaN
138           NaN           NaN           NaN           NaN
139           NaN           NaN           NaN           NaN
140           NaN           NaN           NaN           NaN

[141 rows x 4 columns]

In [9]:
labtat.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [10]:
labtat.columns = "Lab1","Lab2","Lab3","Lab4"

In [19]:
lab = labtat.iloc[0:120,0:]

In [20]:
lab

       Lab1    Lab2    Lab3    Lab4
0    185.35  165.53  176.70  166.13
1    170.49  185.91  198.45  160.79
2    192.77  194.92  201.23  185.18
3    177.33  183.00  199.61  176.42
4    193.41  169.57  204.63  152.60
..      ...     ...     ...     ...
115  178.49  170.66  193.80  172.68
116  176.08  183.98  215.25  177.64
117  202.48  174.54  203.99  170.27
118  182.40  197.18  194.52  150.87
119  182.09  215.17  221.49  162.21

[120 rows x 4 columns]

In [ ]:
# Normality Test

In [23]:
print(stats.shapiro(lab.Lab1))

(0.9901824593544006, 0.5506953597068787)

In [24]:
print(stats.shapiro(lab.Lab2))

(0.9936322569847107, 0.8637524843215942)

In [25]:
print(stats.shapiro(lab.Lab3))

(0.9886345267295837, 0.4205053448677063)

In [26]:
print(stats.shapiro(lab.Lab4))

(0.9913753271102905, 0.6618951559066772)

In [ ]:
# Variance Test

In [30]:
scipy.stats.levene(lab.Lab1,lab.Lab2)

LeveneResult(statistic=3.5495027780905763, pvalue=0.06078228171776711)

In [31]:
scipy.stats.levene(lab.Lab1,lab.Lab3)

LeveneResult(statistic=7.547664894290509, pvalue=0.006468575869839467)

In [32]:
scipy.stats.levene(lab.Lab1,lab.Lab4)

LeveneResult(statistic=1.5000140718506723, pvalue=0.22188001348277267)

In [33]:
scipy.stats.levene(lab.Lab2,lab.Lab3)

LeveneResult(statistic=0.9441465124387124, pvalue=0.33220021420602397)

In [35]:
scipy.stats.levene(lab.Lab2,lab.Lab4)

LeveneResult(statistic=0.2889202799636133, pvalue=0.5914154837597723)

In [36]:
scipy.stats.levene(lab.Lab3,lab.Lab4)

LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)

In [ ]:
# Anova Test

In [37]:
mod = ols('Lab1 ~ Lab2+Lab3+Lab4',data=lab).fit()

In [38]:
mod

In [43]:
aov_table=sm.stats.anova_lm(mod, type=2)

In [44]:
aov_table

             df        sum_sq     mean_sq         F    PR(>F)
Lab2        1.0    332.030416  332.030416  1.940311  0.166299
Lab3        1.0    203.853111  203.853111  1.191271  0.277335
Lab4        1.0    265.614707  265.614707  1.552192  0.215323
Residual  116.0  19850.186366  171.122296       NaN       NaN

In [45]:
help(sm.stats.anova_lm)

Help on function anova_lm in module statsmodels.stats.anova:

anova_lm(*args, **kwargs)
    Anova table for one or more fitted linear models.

    Parameters
    ----------
    args : fitted linear model results instance
        One or more fitted linear models
    scale : float
        Estimate of variance, If None, will be estimated from the largest
        model. Default is None.
    test : str {"F", "Chisq", "Cp"} or None
        Test statistics to provide. Default is "F".
    typ : str or int {"I","II","III"} or {1,2,3}
        The type of Anova test to perform. See notes.
    robust : {None, "hc0", "hc1", "hc2", "hc3"}
        Use heteroscedasticity-corrected coefficient covariance matrix.
        If robust covariance is desired, it is recommended to use `hc3`.

    Returns
    -------
    anova : DataFrame
        When args is a single model, return is DataFrame with columns:

        sum_sq : float64
            Sum of squares for model terms.
        df : float64
            Degrees of freedom for model terms.
        F : float64
            F statistic value for significance of adding model terms.
        PR(>F) : float64
            P-value for significance of adding model terms.

        When args is multiple models, return is DataFrame with columns:

        df_resid : float64
            Degrees of freedom of residuals in models.
        ssr : float64
            Sum of squares of residuals in models.
        df_diff : float64
            Degrees of freedom difference from previous model in args
        ss_dff : float64
            Difference in ssr from previous model in args
        F : float64
            F statistic comparing to previous model in args
        PR(>F): float64
            P-value for significance comparing to previous model in args

    Notes
    -----
    Model statistics are given in the order of args. Models must have been fit
    using the formula api.

    See Also
    --------
    model_results.compare_f_test, model_results.compare_lm_test

    Examples
    --------
    >>> import statsmodels.api as sm
    >>> from statsmodels.formula.api import ols
    >>> moore = sm.datasets.get_rdataset("Moore", "carData", cache=True) # load
    >>> data = moore.data
    >>> data = data.rename(columns={"partner.status" :
    ...                             "partner_status"}) # make name pythonic
    >>> moore_lm = ols('conformity ~ C(fcategory, Sum)*C(partner_status, Sum)',
    ...                 data=data).fit()
    >>> table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 Anova DataFrame
    >>> print(table)